---
import { Image } from 'astro:assets';
import prototrak from '../../assets/field/prototrak.png';
import drilled from '../../assets/field/drilled.png';
import table from '../../assets/field/table.png';
import truck from '../../assets/field/truck.png';
import assembled from '../../assets/field/assembled.png';
import welding from '../../assets/field/welding.png';
import doors from '../../assets/field/doors.png';
import powdercoated from '../../assets/field/powdercoated.jpg';
import scouthut from '../../assets/field/scouthut.jpg';
import assembled2 from '../../assets/field/assembled2.jpg';
import ds from '../../assets/field/ds.jpg';
---

<div>
  <Image
    class="project-image border  border-black"
    src={prototrak}
    alt="Me operating a prototrak vertical mill"
    densities={[1, 2, 3]} 
  />

  <br/>
  <p class="text-white">
    The first was this Prototrak mill, which has steppers and a conversational interface. I set up a stop and waypoints for each of the holes on the pattern, and since I designed all my 5/16 holes to have a consistent distance from an edge, this single setup was enough to drill all of the tubes over the course of a couple days.
  </p>
  <br/>
  <Image
    class="project-image border  border-black"
    src={drilled}
    alt="Stacks of drilled steel box tube"
    densities={[1, 2, 3]} 
  />
  <br/>
  <p class="text-white">
    This was the first batch of steel tubing after deburring the holes. There were two more of these for the whole field to be completed.
    <br/><br/>
    The next major thing that helped accelerate the fabrication was this crazy Siegmund weld fixturing table. This enabled us to do setups for all the sections and weld directly.
  </p>
  <br/>
  <Image
    class="project-image border  border-black"
    src={table}
    alt="Welding table with setup"
    densities={[1, 2, 3]} 
  />
  <br/>
  <Image
    class="project-image border  border-black"
    src={welding}
    alt="Me welding on the setup table"
    densities={[1, 2, 3]} 
  />
  <br/>
  <p class="text-white">
    After all of this was complete, the doors were welded seperately with some clamps. Bit tedious, but got done quickly.
    <br/>
  </p>
  <br/>
  <Image
    class="project-image border  border-black"
    src={doors}
    alt="doors setup with clamps to be welded"
    densities={[1, 2, 3]} 
  />
  <br/>
  <p class="text-white">
    And yes, it did indeed all fit in the back of the truck once grinded and finished.
    <br/>
  </p>
  <br/>
  <Image
    class="project-image border  border-black"
    src={truck}
    alt="doors setup with clamps to be welded"
    densities={[1, 2, 3]} 
  />
  <br/>
  <Image
    class="project-image border  border-black"
    src={assembled}
    alt="doors setup with clamps to be welded"
    densities={[1, 2, 3]} 
  />
  <br/>
  <h1 class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-3xl text-white">
    Next Steps
  </h1>
  <p class="text-white">
    After completing a dry fit of all the parts in the space, they went off to be powdercoated at Leon's in Oakland. When they came back a week later, powdercoated in military beige (the color of free!), they were once again transformed.
    <br/>
  </p>
</br>
  <Image
    class="project-image border  border-black"
    src={powdercoated}
    alt="truck bed full of powdercoated sections"
    densities={[1, 2, 3]} 
  />
</br>
  <p class="text-white">
    Having completed all the powdercoating, the polycarbonate was also back from CNCing and everything was ready to integrate. I took it to my Scout Hut (the troop has off time during the holidays) and prepared for final integration. 
    <br/>
    <br/>
  </p>
  <Image
    class="project-image border  border-black"
    src={scouthut}
    alt="stacks of sections and lexan inside scout hut"
    densities={[1, 2, 3]} 
  />
<br/>
  <h1 class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-3xl text-white">
    Skinning the walls
  </h1>
  <p class="text-white">
    Have any of ya'll ever used self-drilling screws? Well then you know they suck! Though I knew that during the desgin process, I could have never expected what we were in for during the almost 9 hours it took us to integrate everything.

    <br/>
    <br/>
    Working with a team of several people, we ended up having to pre drill all the holes in the steel, using the polycarbonate sections as a drilling template. The sizing here was incredibly precise. 3/16 was too large, and 5/32 too small. Using #10 self-drilling screws, only an 11/64 hole would create a reliable tap. We also used cutting oil, which further helped reduce the chances of snapping the screws.
    <br/>
    <br/>
  </p>
  <Image
  class="project-image border  border-black"
  src={assembled2}
  alt="finished door section with lexan inside scout hut"
  densities={[1, 2, 3]} 
/>
<br/>
  <p class="text-white">
    Finally, we were in. After self-drilling and oiling, everything went smoothly. We also cut and drilled the 3/4 inch plywood for the driver station sections and drilled a 2 3/8 hole for some cable grommets. 
  </p>
<br/>
<Image
  class="project-image border  border-black"
  src={ds}
  alt="finished door section with lexan inside scout hut"
  densities={[1, 2, 3]} 
/>
<br/>
<h1 class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-3xl text-white">
  Getting it all assembled
</h1>

<p class="text-white">
  The last step here is to integrate everything in the final space. This has been an incredibly large project and I'm super proud of how it came out - especially the little details, like the cable grommets and rubber plugs pressed into the exposed tube ends. 
  <br/>
  <br/>
  I'll make sure to send an update here when we have it all together. Thanks for reading!

</p>
</div>

<style>
  .project-image {
    width: 100%;
    height: auto;
  }
</style>
